.midcolor {
    background-color: #3e2723;
}
.btn-color{
    border: none !important;
    background-color: #3e2723;
}

.btn-color:hover{
    background-color: #201412;
}


  /* Ảnh full chiều ngang, giữ tỉ lệ gốc */
  .carousel-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  /* Giới hạn chiều cao nếu muốn */
  @media (min-width: 992px) {
    .carousel-img {
      max-height: 500px; /* tùy bạn chỉnh */
    }
  }
